<h1><%= user_name%> Create an event</h1>


<%= form_with model:@event do |f| %>
<%= f.label :name, "Event name" %>
<%= f.text_field :name %>
<%= f.label :location, "Event location" %>
<%= f.text_field :location %>
<%= f.label :datetime, "Date" %>
<%= f.datetime_field :datetime %>
<%= f.label :description, "Description" %>
<%= f.text_area :description %>
<%= f.submit %>
<% end %>