<h1 class="text-center"><%= user_name%> Create an event</h1>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">

  <%= form_with model:@event do |f| %>
  <div class="form-group">
    <%= f.label :name, "Event name" %>
    <%= f.text_field :name,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location, "Event location" %>
    <%= f.text_field :location,class:"form-control" %>
  </div>

    <div class="form-group">
  <%= f.label :datetime, "Date" %>
  <%= f.datetime_field :datetime,class:"form-control" %>
  </div>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description,class:"form-control"%>
  <%= f.submit %>
  <% end %>
  </div>
<div class="col-md-2"></div>
</div>


 